<div class="jumbotron">
  <h2>Choose  <Strong>Super Computer Store</Strong> for a better shopping experience.</h2>
  <p>We are committed to understanding the needs of our customers and providing the service and products you need for your continued success.
    <p>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://promotions.newegg.com/amd/18-1204/1920x360.jpg" alt="...">
    </div>
    <div class="item">
      <img src="https://promotions.newegg.com/gigabyte/18-1173/1920x360.jpg" alt="...">
    </div>
    <div class="item">
      <img src="https://promotions.newegg.com/LG/18-0803/1920x360.jpg" alt="...">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>



<div class="row">
  <div class="col-md-12">
    <div id="success" class="alert alert-success" {{#if noMessages}} hidden {{/if}}>
      {{ successMsg }}
    </div>
  </div>
</div>

<br>

<div class="row">
  {{# each products }}
    {{# each this }}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{ this.imagePath }}" alt="..." class="img-responsive">
          <div class="caption">
            <h3>{{ this.title }}</h3>
            <p class="description">{{ this.description }}</p>
            <div class="clearfix">
              <div class="price pull-left">${{ this.price }}</div>
              <a href="/add-to-cart/{{this._id}}" class="btn btn-info pull-right btn-sm" role="button">Add to Shopping Cart <span class="glyphicon glyphicon-shopping-cart"></span></a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{/each}}
</div>
